[Unit]

Description=Firewall
After=ulogd.service

[Service]

Type=oneshot

ExecStart=/home/mattie/config/firewall/netbox/firewall.sh load
#ExecStop=/home/mattie/config/firewall/netbox/firewall.sh unload

[Install]

WantedBy=network.target
