[Unit]

Description=firewall - advanced IPtables Firewall
After=ulogd.service

[Service]

Type=oneshot

ExecStart=/etc/firewall/firewall.sh load

ExecStop=/etc/firewall/firewall.sh flush
ExecStop=/etc/firewall/firewall.sh delete
ExecStop=/etc/firewall/firewall.sh open

[Install]

WantedBy=network.target
