[Unit]

Description=firewall - advanced IPtables Firewall
After=ulogd.service

[Service]
Type=oneshot
RemainAfterExit=yes

ExecStart=/etc/firewall/iptables.sh start
ExecReload=/etc/firewall/iptables.sh reload
ExecStop=/etc/firewall/firewall.sh stop

[Install]

WantedBy=network.target
